<kendo-window title="Введите информацию о категории" *ngIf="opened" (close)="close()" [minWidth]="280" [width]="450" [minHeight]="150">

  <form class="k-form" #form="ngForm" novalidate>

      <label class="k-form-field">
        <span>Название*</span>
        <input class="form-control" type="text" placeholder="Название"
               [(ngModel)]="category.Name"
               name="name"
               required />
      </label>

    <div class="text-right">
      <button type="button" class="btn btn-secondary" (click)="close()">Отмена</button>
      <button type="button" style="margin-left:1em;" class="btn btn-primary"
              (click)="submit(form)"
              [disabled]="form.invalid">
        ОК
      </button>
    </div>
  </form>

</kendo-window>
