<kendo-window title="Пожалуйста введите свои учетные данные" *ngIf="opened" (close)="close()" [minWidth]="280" [width]="450" [minHeight]="400">

  <form class="k-form" #form="ngForm" novalidate>
    <fieldset>
      <legend>Учетные данные</legend>

      <label class="k-form-field">
        <span>Логин*</span>
        <input class="form-control" type="text" placeholder="Логин"
               ngModel
               name="login"
               required />
      </label>
      <label class="k-form-field">
        <span>Пароль*</span>
        <input class="form-control" type="password" placeholder="Пароль"
               ngModel
               name="password"
               required />
      </label>
    </fieldset>
    <div *ngIf="noUser" class="alert alert-danger">
      Такого пользователя не существует
    </div>

    <div class="text-right">
      <button type="button" class="btn btn-secondary" (click)="close()">Отмена</button>
      <button type="button" style="margin-left:1em;" class="btn btn-primary"
              (click)="submit(form)"
              [disabled]="form.invalid">Войти</button>
    </div>
  </form>

</kendo-window>
